/*class selector*/
.h1{
    background-color: black;
    color: white;
   
}

/*id selector*/
#id-1{
    background-color: darkolivegreen;
    color: white;
}

/*element selector*/
h3{
    background-color: rebeccapurple;
    color: white;
}

.box{
    height: 60px;
    width: 60px;
    border: 1px solid red;
    background-color: black;
    position: relative;
    top:20px;
    left: 700px;
    
}